#map {
    height: 500px;
  }

h1 {
    text-align: center;
    color: white;
}

span {
    color: white;
}

body {
    background: url(https://images.hdqwalls.com/wallpapers/minimal-sunset-landscape-4k-w5.jpg);
}